.post-type-archive-give_forms{
  .post-give-list{
    .post-give{
      .post-give-inner{
        .post-thumbnail-wrap{
          position: relative;
          border-radius: 3px 3px 0 0;
          overflow: hidden;
          .give-thumbnail{
            max-width: 100%;
            height: auto;
            @include transition(.3s ease);
          }
          .extra-meta{
            overflow: hidden;
            left: 10px;
            position: absolute;
            top: 10px;
            z-index: 1;
            > *{
              display: inline-block;
              margin-right: 10px;

              @include transition(.5s ease);
              transition-delay: .1s;
              -webkit-transition-delay: .1s;
              opacity: 1;
            }
            .entry-date{
              background: $accent-color;
              border-radius: 15px;
              color: #fff;
              font-size: 16px;
              letter-spacing: 0px;
              line-height: normal;
              padding: 4px 8px;
              text-transform: uppercase;
            }
          }
          .give-display-button-only{
            position: absolute;
            left: 50%;
            top: 70%;
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            z-index: 3;
            margin: 0;
            opacity: 0;
            visibility: hidden;
            @include transition(.4s cubic-bezier(.9,.14,.69,1.01));
            form.give-form{
              margin: 0;
              .give-btn{
                background: $accent-color;
                font-size: 16px;
                margin: 0;
                padding: 13px 18px;
                display: inline-block;
                @include transition(.3s ease);
                &:hover{
                  background: darken($accent-color, 5%);
                  opacity: 1;
                }
              }
            }
          }
          &:after{
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgba(1,1,1,.5);
            z-index: 2;
            opacity: 0;
            @include transition(.3s ease);
          }
          &:hover{
            .extra-meta{
              > *{
                transform: translateY(-140%);
                -webkit-transform: translateY(-140%);
                opacity: 0;
              }
            }
            .give-thumbnail{
              transform: scale(1.05);
              -webkit-transform: scale(1.05);
            }
            &:after{
              opacity: 1;
            }
            .give-display-button-only{
              top: 50%;
              opacity: 1;
              visibility: visible;
            }
          }
        }
        .post-entry-wrap{
          padding: 20px;
          border: solid #f5f5f5;
          border-width: 0  2px 2px;
          border-radius: 0 0 3px 3px;
          .title-link{
            text-decoration: none;
            .title{
              font-size: 24px;
              line-height: 26px;
              letter-spacing: 0px;
            }
          }
          .give-goal-progress{
            margin-bottom: 15px;
            .raised{
              margin: 0;
              font-size: 16px;
            }
            .give-progress-bar{

            }
          }
          .readmore{
            background: $accent-color;
            border-radius: 3px;
            color: #FFF;
            font-size: 16px;
            text-transform: uppercase;
            letter-spacing: 0px;
            padding: 6px 18px;
            display: inline-block;
            margin-top: 15px;
            @include transition(.3s ease);
            text-decoration: none;
            span{
              font-size: 20px;
              margin-left: 4px;
              vertical-align: top;
            }
            &:hover{
              background: darken($accent-color, 5%);
            }
          }
        }
      }
    }
  }
}
