// single event
@import "single-event";
@import "grid";

.event-booking-form-wrap{
  margin-bottom: 30px;
  border: 0.5px solid #e9e9e9;
  padding: 25px;
  @include transition(.3s);
  &:hover{
    // box-shadow: 0 0 22px -9px rgba(1, 1, 1, 0.3);
  }
  .heading-bpooking-form{
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: solid 1px #f1f1f1;
    .title{
      font-size: 24px;
      letter-spacing: 26px;
      letter-spacing: 0px;
      margin: 0;
    }
    .note-book-form{

    }
  }

  form{
    // background: #fafafa none repeat scroll 0 0;
    .btn{
      background: $accent-color;
      letter-spacing: 0px;
      font-size: 16px;
      text-transform: uppercase;
      color: #FFF;
      @include transition(.3s ease);
      padding: 8px 21px;
      &:hover{
        background: darken($accent-color, 10%);
      }
    }
    .form-group{
      display: block;
      label{
        display: block;
        font-size: 16px;
        letter-spacing: 0px;
        text-transform: uppercase;
        .optional{
          letter-spacing: 0;
          text-transform: none;
          font-family: caption;
          font-style: italic;
          font-weight: normal;
          font-size: 16px;
          color: #999;
        }
      }
      input[type="text"],
      input[type="email"],
      input[type="number"],
      select,
      textarea{
        display: block;
        width: 100%;
        margin: 4px 0 10px 0;
        padding: 6px 10px;
        border-radius: 3px !important;
        &:invalid {

        }
      }
      select{
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        padding: 9px 10px;
        background: url('../images/arrow-down-icon.png') no-repeat calc(100% - 10px) 50%;
        background-size: 10px;
      }
    }
    .event-note{
      margin-bottom: 20px;
      padding-bottom: 20px;
      border-bottom: solid 1px #f1f1f1;
    }
    .space-user-book{
      display: inline-block;
      font-size: 16px;
      line-height: normal;
      padding: 9px 0;
    }
    .event-price{
      border-bottom: 1px solid #f1f1f1;
      margin-bottom: 20px;
      padding-bottom: 20px;
      label{
        margin: 0;
      }
      .amount{
        float: right;
      }
    }
  }
}

.table-event-ext{
  tbody{
    th, td{
      width: 50%;
      text-align: left;
    }
  }
}

@-webkit-keyframes event_showSweetAlert {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

@keyframes event_showSweetAlert {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.sweet-alert{
  &.fw-ext-event-booking{
    &.showSweetAlert{
      animation: .3s event_showSweetAlert ease;
      -webkit-animation: .3s event_showSweetAlert ease;
    }
    position: fixed;
    margin: 0 !important;
    width: 500px;
    max-width: calc(100% - 30px);
    max-height: calc(100% - 30px);
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    overflow: auto;
    .event-payment-method-box{
      h4{
        letter-spacing: 0px;
        font-size: 18px;
        line-height: 22px;
      }
      .payment-list-wrap{
        margin-top: 10px;
      }
      label{
        font-weight: normal;
        display: inline-block;
        margin: 2px 6px;
        vertical-align: middle;
        cursor: pointer;
        border-radius: 1px;
        input{
          display: inline-block;
          &[type="radio"]{
            height: auto;
            line-height: normal;
            margin: 0 4px 0 0;
            padding: 0;
            vertical-align: middle;
            width: 18px;
          }
        }
        img{
          height: 30px;
          width: auto;
        }
      }
    }
  }
}

/* event listing */
.list-tab-event {
  .nav-tabs{
    margin: 0;
    border: 0;
    border-bottom: 1px solid #eee;
    li{
      background: 0 0;
      border-radius: 0;
      margin: 0;
      min-width: 240px;
      text-align: center;
      border: 0;
      position: relative;
      &.active{
        background: #fff;
        &:before{
          content: '';
          position: absolute;
          left: 0;
          right: 3px;
          z-index: 10;
          top: 0;
          height: 4px;
          background-color: $accent-color;
        }
        &:after{
          bottom: -1px;
          height: 1px;
          background: #fff;
          content: '';
          position: absolute;
          left: 0;
          right: 3px;
          z-index: 10;
        }
        a{
          background: #fff;
        }
      }
      a{
        color: #333;
        border-radius: 0;
        margin-right: 3px;
        border: 1px solid #eee!important;
        border-bottom: 0!important;
        font-size: 16px;
        background: #f9f9f9;
        font-weight: 700;
        line-height: 29px;
      }
    }
  }
  @media (max-width: 768px){
    .nav-tabs {
      li{
        width: 33.333%;
        min-width: 0;
      }
    }
  }
}
.bt-list-event{
  padding-top: 60px;
  .item-event{
    .event-inner-list{
      margin-bottom: 20px;
      display: table;
      width: 100%;
      position: relative;
      overflow: hidden;
      .bg-event-list{
        border-radius: 100px;
        margin: 15px auto;
        width: calc(100% - 80px);
        -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
        background: #fff;
        height: 160px;
        position: absolute;
        z-index: 0;
        left: 50px;
      }
      > *{
        display: inline-block;
        vertical-align: middle;
        z-index: 1;
        position: relative;
      }
      .event-featured-image-wrap{
        .event-thumbnail{
          width: 190px;
          height: 190px;
          border-radius: 50%;
          .bt-overlay {
            -wekbit-transition: all 0.4s;
            -moz-transition: all 0.4s;
            -o-transition: all 0.4s;
            transition: all 0.4s;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,0.5);
            opacity: 0;
            border-radius: 50%;
          }
        }
      }
      .edu-event-date{
        margin-left: 30px;
        .edu-event-day{
          display: inline-block;
          text-transform: uppercase;
          font-weight: 900;
          span{
              font-size: 40px;
              color: $accent-color;
              margin-right: 3px;
          }
        }
        .edu-event-time{
          font-size: 16px;
          color: #999999;
          font-weight: bold;
          text-transform: uppercase;
        }
      }
      .content-entry{
        padding-left: 20px;
        margin-left: 30px;
        border-left: #c4c4c4 solid 1px;
        .title-link{
          text-decoration: none;
          .title{
            font-weight: bold;
            font-size: 24px;
            line-height: 26px;
            color: #333;
            margin-bottom: 10px;
            @include transition(.3s ease);
          }
          &:hover{
            .title{
              text-decoration: underline;
            }
          }
        }
        .venue-empty{
          color: $accent-color;
          font-weight: 400;
          font-size: 16px;
        }
      }
      .readmore-link{
        width: 170px;
        height: 50px;
        text-align: center;
        font-size: 16px;
        background: #222222;
        border-radius: 30px;
        color: #fff;
        line-height: 50px;
        text-transform:uppercase;
        font-weight: bold;
        position: absolute;
        right: 0;
        top: 70px;
        display: inline-block;
        &:hover{
            background: $accent-color;
            text-decoration: none;
        }
      }
      &:hover{
        .event-featured-image-wrap{
          .event-thumbnail{
            .bt-overlay {
              opacity: 1;
            }
          }
        }
      }
    }
    @media (max-width: 1200px) {
      .event-inner-list{
          a.readmore-link{
            display: none;
          }
        }
      }
    @media (max-width: 991px) {
      .event-inner-list{
        width: 100%;
        -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
        background: #fff;
        padding: 0 0 20px 0;
        .event-featured-image-wrap{
            display: block;
            margin-bottom: 20px;
            .event-thumbnail {
              width: 100%;
              height: 250px;
              border-radius: 0;
              .bt-overlay {
                border-radius: 0;
              }
            }
          }
          a.readmore-link{
            display: none;
          }
          .bg-event-list{
            display: none;
          }
        }
      }
      @media (max-width: 600px) {
        .event-inner-list{
          padding: 0 0 20px 0;
          .event-featured-image-wrap{
              display: block;
              margin-bottom: 20px;
              .event-thumbnail {
                width: 100%;
                height: 150px;
                border-radius: 0;
                .bt-overlay {
                  border-radius: 0;
                }
              }
            }
            .edu-event-date {
              padding: 0 15px;
              width: 100%;
              margin-left: 0;
              .edu-event-time {
                line-height: 36px;
                margin-top: 5px;
                float: right;
              }
            }
            .content-entry{
              margin-left: 0;
              width: 100%;
              padding:0 15px;
              border: none;
            }
        }
      }
  }
  .tab-pane{
    outline: none;
  }
}
/*Event Grid Classic*/
@media only screen and (max-width: 1200px) and (min-width: 768px){
  .event-pi{
    .vc_grid-item{
      width: 50%;
    }
  }
}

.event-grid-classic{
  position: relative;
  overflow: visible;
  .event-icon-grid-classic{
    position: absolute;
    bottom: -25px;
    z-index: 99;
  }
}
.event-grid-classic-content{
  .event-day-grid-classic{
    span{
      font-size: 30px;
      font-weight: bold;
      color: $accent-color;
      margin-right: 5px;
    }
    font-size: 16px;
    color: #333;
    font-weight: 600;
  }
  .event-time-grid-classic{
    color: $accent-color;
    font-size: 16px;
    vertical-align: bottom;
    display: inline-block;
    line-height: 17px;
    text-transform: uppercase;
    i{
      margin-right: 5px;
    }
  }
  .vc_custom_heading{
    h4{
      font-size: 20px;
      color: #444;
      margin: 0;
    }
  }
  .event-local-grid-classic{
    color: $accent-color;
  }
}
