.bt-header.header-1 .bt-nav-menu .menu-item > a > span:after{
	content:none !important;
}
.bt-noti i.lnr{
	font-weight: bold;
}
li.bt-donate > a {
	line-height: 30px !important;
	font-size: 16px !important;
	border-radius: 5px;
	border: none;
	padding: 5px 30px !important;
	background: $accent-color;
	span{
		color: #fff;
	}
}
ul.bt-top-social {
    display: inline-block;
}
ul.bt-top-social li{
	display:inline-block;
}
ul.bt-top-social li a{
	display:inline-block;
	margin:0 1px;
	border-radius:5px;
	background:rgba(255, 255, 255, 0.2);
	width:38px;
	height:38px;
	text-align:center;
}
ul.bt-top-social li a:hover{
	background:$accent-color !important;
}
.bt-top-left li{
	display: inline-block;
  padding-right: 20px;
	&:last-child{
		padding-right: 0;
	}
}
.widget {
    font-size: 16px;
	}
.bt-top-left li i{
	margin-right:7px;
	color: $accent-color;
}
.logged-in .display-login{
	display:inline-block !important;
}
.logged-in .display-logout{
	display:none !important;
}
.display-login{
	display:none !important;
}
.bt-login a span,.bt-register a span,.bt-logout a span,.bt-profile a span{
	text-transform: uppercase;
  font-weight: 700 !important;
	color:#fff !important;
}
.bt-login a i,.bt-register a i,.bt-logout a i,.bt-profile a i{
	color:$accent-color !important;
}
a.f-logo {
    display: block;
    margin-bottom: 25px;
}
.copyright-left {
   float: left;
	 line-height: 25px;
   padding: 10px 0;
}
.copyright-left a{
  color: $accent-color !important;
	font-weight:600;
}
.copyright-right {
    float: right;
}
.copyright-right ul{
	margin-bottom:0;
}
.copyright-right ul li{
	line-height:38px;
}
.but-dream > a{
	 text-transform: uppercase;
   font-weight: 700;
   padding: 15px 30px !important;
	 background:$accent-color !important;
	 color: #fff !important;
	 border-radius: 3px !important;
	 font-size: 16px !important;
}
.but-dream > a:hover{
	background:$theme-color-2 !important;
}
.bt-donate-fun button.give-btn.give-btn-modal:hover {
    background: #fff;
		color: #333;
}
.event-cowndow{
	.layout-default{
		.dream-event-date{
			display: none !important;
		}
		.content-entry{
			margin-left: 5px;
			width: 100% !important;
			.dream-event-time{
				display: none;
			}
		}
	}
}

#page .wpb_theme_custom_element.wpb_count_down.bt-countdown .layout-tpl1 #getting-started {
	    text-align: left;
			> div{
				display: inline-block;
				width: 70px;
				height: 70px;
				text-align:center;
				background: fade-out($accent-color, 30%);
				color: #fff;
				font-size: 25px;
				font-weight: bold;
				padding-top: 13px;
				border-radius: 3px;
				line-height: 25px;
				span{
					display: block;
					font-size: 16px;
					font-weight: 400;
					line-height: 19px;
				}
			}
	}
.bt-donate-fun{
	text-align: center;
}
.bt-donate-fun div#give_error_test_mode, .bt-donate-fun .give-form .give-total-wrap {
    display: none !important;
}
.bg-cover > .vc_column-inner{
	background-size:100% 100% !important;
}
#page .wpb_theme_custom_element.wpb_featured_box.bt-service .vc-custom-inner-wrap .featured-box-alignment .entry-box-wrap .featured-box-title {
  font-size: 24px !important;
  font-weight: bold !important;
  margin-bottom: 10px;
	letter-spacing:0;
}
#page .wpb_theme_custom_element.wpb_featured_box.bt-service .vc-custom-inner-wrap .featured-box-alignment .entry-box-wrap .featured-button{
	border-bottom: none;
	font-size: 20px;
	margin-top: 10px;
	font-weight: 600;
}
#page .wpb_theme_custom_element.wpb_featured_box.bt-work .vc-custom-inner-wrap .featured-box-alignment .entry-box-wrap .featured-box-title {
  font-size: 24px !important;
  font-weight: bold !important;
  margin-bottom: 15px;
	letter-spacing:0;
}
#page .wpb_theme_custom_element.wpb_featured_box.bt-work .vc-custom-inner-wrap .featured-box-alignment .entry-box-wrap .featured-button{
	border-bottom: none;
	font-size: 20px;
	color: #fff;
	margin-top: 15px;
	font-weight: 600;
}
#page .wpb_theme_custom_element.wpb_featured_box.info-contact .vc-custom-inner-wrap .featured-box-alignment .entry-box-wrap .featured-box-title {
	margin-bottom:0;
}
#page .wpb_theme_custom_element.wpb_featured_box.info-contact .vc-custom-inner-wrap .featured-box-alignment .entry-box-wrap .featured-box-text {
  font-weight: 400 !important;
	font-size:18px !important;
  margin-bottom: 5px;
	letter-spacing:0;
	line-height:28px;
}
#page .wpb_theme_custom_element.wpb_featured_box.info-contact .vc-custom-inner-wrap .featured-box-alignment .icon-wrap span.fa {
  font-size:30px;
}
.bt-icon{
	display:inline-block;
}
.contact-edu textarea,.contact-edu input{
	border-radius: 5px !important;
	background:#f6f6f6 !important;
	padding-left: 20px !important;
	font-size: 14px;
}
.contact-edu input[type="button"]{
	background:$accent-color !important;
	font-size:16px;
	font-weight:700;
	text-transform:uppercase;
	padding:10px 35px !important;
}
.contact-edu .nf-field-container {
    margin-bottom: 10px;
}
.messenger-dream{
	margin-top: 5px !important;
	textarea,input{
		border-radius: 5px !important;
		padding-left: 20px !important;
		font-size: 16px;
	}
	input[type="button"]{
		background:$theme-color-2 !important;
		font-size:16px;
		font-weight:700;
		text-transform:uppercase;
		padding:10px 35px !important;
	}
	.dream-full{
		margin-bottom: 10px;
	}
	.half1{
		width: 49%;
		margin-right: 1%;
		float: left;
		clear: none;
		margin-bottom: 5px;
	}
	.half2{
		width: 49%;
		margin-left: 1%;
		float: right;
		clear: none;
		margin-bottom: 5px;
	}
	textarea {
    height: 100px !important;
	}
	.messenger-but{
		margin-bottom: 0;
		text-align: center;
	}
}
.bt-map-edu{
	-webkit-filter: grayscale(100%);
 filter: grayscale(100%);
}
.best-box .featured-box-title{
	font-size:28px !important;
	font-weight:700 !important;
}
span.notification-cart-total-qtt-dk {
    margin-top: 21px;
    right: -8px;
    background: $accent-color;
    border-radius: 100%;
    font-size: 11px !important;
    font-weight: 600 !important;
		width: 16px;
		color: #fff;
    height: 16px !important;
    padding:0 !important;
    text-align: center;
		font-family: sans-serif !important;
		line-height: 1 !important;
    padding: 2.5px 0 !important;
    margin-right: 1px;
}
.bt-icon > .vc_icon_element-inner:hover{
	background:#333 !important;
}
.bt-svg .wpb_single_image img{
	width: 130px;
}
.rev-btn, .rev-btn:visited {
    font-family: $fw-menu-font-family;
}
.fw-site-logo img{
	width: 170px;
}
body.is-header-sticky .bt-header-container.fw-sticky-header {
    box-shadow: 0 0 25.5px 0 rgba(0, 0, 0, 0.2);
	}
	.bt-newsletter{
		.tnp.tnp-widget-minimal{
			position: relative;
			input.tnp-email {
				border-radius: 0px !important;
				width: calc(100% - 95px);
				height: 40px;
				line-height: 40px;
				display: inline-block;
				margin-right: 5px;
			}
			.tnp-submit{
				display: inline-block;
			   text-transform: uppercase;
			   width: 90px;
			   font-weight: 600;
				 height: 40px;
 				line-height: 40px;
				border-radius: 0px !important;
			}
		}
	}
	.bt-about-list ul{
		padding-left: 0;
	}
	.bt-about-list ul li {
    margin-bottom: 5px;
    font-size: 16px;
		list-style-type: none;
}
	.bt-about-list ul li:before {
    font-family: 'FontAwesome';
    font-weight: 100;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    color: #1395df;
    margin-right: 10px;
    content: "\f046";
}
.woocommerce.single-product .woocommerce-tabs .woocommerce-Tabs-panel.panel {
    outline: none;
}
.btp-form-donate{
	.give-form-wrap{
		.give-goal-progress{
			margin-bottom: 25px;
			.raised{
				font-weight: 700;
				font-size: 16px;
				span.income{
					letter-spacing: 0px;
			    color: $accent-color;
			    font-weight: bold;
			    font-size: 24px !important;
			    line-height: 26px;
				}
			}
			.give-progress-bar {
		    height: 10px;
			}
		}
		.give_warning{
			background: #ffba00;
	    padding: 15px;
	    border-radius: 5px;
			margin: 25px 0;
		}
		.give-form{
			.give-donation-amount{
				display: inline-block;
		    -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
		    -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
		    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
				margin-right: 5px;
				.give-currency-symbol{
					border-top: none;
					border-bottom: none;
					border-radius: 3px 0px 0px 3px;
					background: #333;
					color: #fff;
					font-weight: 600;
					height: 42px;
					line-height: 42px;
					font-weight: 600;
				}
				#give-amount-text{
					border: none;
					background: #fff;
					border-radius: 0px 3px 3px 0px;
					height: 42px;
					line-height: 42px;
					font-weight: 600;
				}
			}
			#give-donation-level-button-wrap{
				display: inline-block;
				li{
					margin-bottom: 0;
					button{
						background: #fff;
						-webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
				    -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
				    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
						color: #333;
				    font-size: 16px;
				    height: 42px;
				    font-weight: 600;
						letter-spacing: 0px;
					}
				}
			}
			fieldset#give-payment-mode-select{
				legend.give-payment-mode-label{
						font-size: 20px;
				}
			}
			#give_purchase_form_wrap{
				fieldset#give_checkout_user_info{
					legend{
						font-size: 20px;
					}
					.form-row{
						.give-input{
							background: #fff;
							-webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
					    -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
					    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
						}
					}
				}
				fieldset#give_purchase_submit{
					span.give-donation-total-label{
						border-top: none;
				    border-bottom: none;
				    color: #fff;
				    background: #606060;
				    margin: 0;
				    padding: 0 19px;
				    height: 48px;
				    line-height: 47px;
				    font-size: 16px;
				    font-weight: 700;
				    border: none;
						border-radius: 3px 0px 0px 3px;
						-webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
						-moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
						box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
					}
					span.give-final-total-amount{
						border-radius: 0px 3px 3px 0px;
						height: 48px;
						line-height: 48px;
						border: none;
						font-weight: 700;
						-webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
						-moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
						box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
					}
					.give-submit-button-wrap{
						input#give-purchase-button{
							height: 48px;
							padding: 0 25px !important;
							font-weight: 700;
							font-size: 16px;
							letter-spacing: 0;
						}
					}
				}
			}
		}
	}
}
@media only screen and (max-width: 768px){
	.btp-form-donate .give-form-wrap .give-form #give-donation-level-button-wrap li{
		margin-bottom: 5px;
	}
	section.vc_section.btp-full-sec{
		padding-top: 0 !important;
		.btp-full-sec1{
			padding-top: 0 !important;
		}
	}
	#page .wpb_theme_custom_element.wpb_count_down.bt-countdown .layout-tpl1 #getting-started {
				> div{
					width: 60px;
					height: 60px;
					font-size: 20px;
					span{
						font-size: 14px;
					}
				}
		}
	.bg-cover > .vc_column-inner {
    background-size: cover !important;
}
#main .bt-full-pad > .vc_column-inner,.bt-full-pad1 .event-com{
	padding-left: 15px !important;
	padding-right: 15px !important;
}
#page .wpb_theme_custom_element.wpb_featured_box.bt-service .vc-custom-inner-wrap .featured-box-alignment.alignment-center.content-alignment-left {
    text-align: center;
}
#page .wpb_theme_custom_element.wpb_count_down.bt-countdown .layout-tpl1 #getting-started {
	    text-align: left;
		}
section.vc_section,#main .bt-row, .vc_row[data-vc-full-width],.vc_section.vc_section-has-fill, .vc_section.vc_section-has-fill+.vc_row-full-width+.vc_section, .vc_section.vc_section-has-fill+.vc_section {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}
.vc_empty_space.dream-space {
    height: 0px !important;
}
#page .vc_custom_1543285489607{
	padding-top: 0 !important;
}
.edu-h1-count .vc_column-inner{
	background-position: 20px !important;
  background-size: 100px !important;
}
.fw-title-bar .fw-heading .breadcrumbs-right .breadcrumbs span:nth-child(5){
	display: none;
}
.bt-logo-f {
    text-align: center !important;
}
}
@media only screen and (max-width: 1024px){
	.edu-title{
    font-size:30px !important;
		line-height:35px !important;
		margin-top: 0;
  }
	.bg-cover > .vc_column-inner {
    padding-left: 15px !important;
}
}
@media only screen and (max-width: 1200px){
	.bt-header.header-1 .bt-header-main .bt-nav-wrap .bt-site-navigation > ul.bt-nav-menu > li.menu-item:not(:first-child){
		margin-left: 30px;
	}
	.bt-top-left li {
	   padding-right: 5px;
	}
		.bt-top-left li a{
	   font-size:13px !important;
	}
	#page .wpb_theme_custom_element.wpb_featured_box.bt-service .vc-custom-inner-wrap .featured-box-alignment .entry-box-wrap .featured-box-title {
	  font-size: 22px !important;
	}
	#page .wpb_theme_custom_element.wpb_featured_box.bt-service .vc-custom-inner-wrap .featured-box-alignment .entry-box-wrap .featured-button{
		font-size: 18px;
	}
	#page .wpb_theme_custom_element.wpb_featured_box.bt-work .vc-custom-inner-wrap .featured-box-alignment .entry-box-wrap .featured-box-title {
	  font-size: 22px !important;
	}
	#page .wpb_theme_custom_element.wpb_featured_box.bt-work .vc-custom-inner-wrap .featured-box-alignment .entry-box-wrap .featured-button{
		font-size: 18px;
	}
}
.dream-menu-mobile{
			margin-left: 25px !important;
		}
//header 2
body.header2{
	h1,h2,h3,h4,h5,h6,p,a,span,div{
		font-family: $fw-menu-font-family !important;
	}
	#page .bt-our-work .wpb_theme_custom_element.wpb_featured_box .vc-custom-inner-wrap .featured-box-alignment .entry-box-wrap .featured-box-title{
		font-size: 24px;
		line-height: 28px;
		font-weight: bold;
		font-family: $fw-menu-font-family;
	}
	#page .bt-our-work .but-dream-h{
		position: absolute;
    visibility: hidden;
    opacity: 0;
    left: 50%;
    transform: translate(50%);
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
	}
	#page .bt-our-work .bt-top-h{
		position: absolute;
    visibility: hidden;
    opacity: 0;
    left: 30%;
    transform: translate(-21%);
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
	}
	.but-dream-h > a{
		 text-transform: uppercase;
	   font-weight: 600;
	   padding: 7px 20px !important;
		 background:$theme-color-2 !important;
		 color: #fff !important;
		 border-radius: 3px !important;
		 font-size: 16px !important;
	}
	.but-dream > a:hover{
		background:$accent-color !important;
	}
	#page .bt-our-work .bt-box:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
	}
	#page .bt-our-work:hover .bt-box:before {
    background: rgba(251, 185, 0, 0.8);
		z-index: 9;
	}
	#page .bt-our-work:hover .but-dream-h {
    bottom: 20%;
    opacity: 1;
    visibility: visible;
		z-index: 10;
	}
	#page .bt-our-work:hover .wpb_featured_box{
		display: none;
	}
	#page .bt-our-work:hover .bt-top-h {
    bottom: 45%;
    opacity: 1;
    visibility: visible;
		z-index: 10;
	}
}
