.footer-home-main{
  color: #b2b6bb;
  .widget .widget-title span {
      color: #fff;
      font-size: 24px;
    	font-weight:600;
    	letter-spacing:0;
  }
  .footer-contact-info-ui{
    .c-item{
      padding-bottom: 15px;
      .icon-wrap {
          display: inline-block;
          width: 20px;
          color: #b2b6bb;
      }
      .entry-content{
        vertical-align: top;
        line-height: 25px;
        display: inline-block;
        width: calc(100% - 30px);
        a{
          color: #b2b6bb;
          font-weight: 400;
        }
      }
    }
  }
  ul.bt-link{
    li{
      padding-bottom:8px;
      a{
        font-weight:400 !important;
      	font-size:16px !important;
        color: #b2b6bb;
        i{
          color: #b2b6bb;
        	margin-right:10px;
        }
        &:hover{
          color: $accent-color !important;
          i{
            color: $accent-color !important;
          }
        }
      }
    }
  }

}
