%post-list-1{
	.post-inner{
		border-radius: 1px;
		overflow: hidden;
		.post-featured-image-wrap{
			.post-featured-image-link{
				display: block;
				text-align: center;
				.post-single-image{
					max-width: 100%;
					border-radius: 5px;
					height: auto !important;
				}
			}
		}
		.cat-tag-meta{
			display: block;
			margin-bottom: 15px;
			&:after{
				content: "";
				display: block;
				clear: both;
			}
			a{
				text-decoration: none;
				@include transition(.3s);
				&:hover{
					color: darken($accent-color, 10%);
				}
			}
			.post-category,
			.post-tag{
				float: left;
				font-size: 16px;
				line-height: 24px;
				i{
					float: left;
					margin-right: 5px;
					color: $accent-color;
					text-align: center;
					// font-size: 14px;
					width: 24px;
				}
			}

			.post-category{
				margin-right: 15px;
				ul.post-categories{
					padding: 0;
					margin: 0;
					display: inline-block;
					&:after{
						content: "";
						display: block;
						clear: both;
					}
					li{
						float: left;
						list-style: none;
						&:not(:last-child){
							margin-right: 5px;
						}
					}
				}
			}
			.post-tag{
				i{}
				a{
					display: inline-block;
					vertical-align: top;
					&:not(:last-child){
						// margin-right: 5px;
					}
				}
			}
		}
		.entry-wrap{
			padding: 0;
			position: relative;
			.post-title-link{
				text-decoration: none;
				.post-title{
					font-size: 20px;
					line-height: 30px;
					@include transition(.3s);
					margin: 0;
			    padding: 45px 0px 15px 0px;
			    color: #3e3e3e;
			    overflow: hidden;
			    text-overflow: ellipsis;
			    white-space: nowrap;
				}
				&:hover{
					.post-title{
						color: darken($accent-color, 5%);
					}

				}
			}
			.extra-meta{
				margin-top: 0px;
				> div.post-date{
					background: $accent-color;
					color: #fff;
			    border-radius: 30px;
			    display: block;
			    font-size: 15px;
			    vertical-align: middle;
			    line-height: 45px;
			    position: absolute;
			    top: -22px;
			    text-transform: uppercase;
			    font-weight: 600;
			    height: 45px;
			    text-align: center;
			    width: 140px;
					right: 30px;
				}
			}
			.post-author{
				  margin-top: 10px;
					span.edu-meta-top {
					    font-size: 14px;
					    font-weight: 600;
					    color: #999999;
					}
					span.edu-meta-bot {
					    font-size: 14px;
					    font-weight: 600;
					    text-transform: capitalize;
							color: $accent-color;
					}
			}
			.post-readmore{
				text-decoration: none;
				@include transition(.3s);
			}
		}
	}
	&.format-gallery{
		.post-gallery-image-wrap{
			.post-gallery{
				.gallery-item{
					.post-single-image{
						max-width: 100%;
						// width: 100%;
						height: auto !important;
					}
				}
			}
		}
	}
	&.format-link{
		.post-block-link-wrap{
			padding: 50px 20px;
			position: relative;
			&:after{
				content: "";
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				z-index: 1;
				background: rgba(1,1,1,.8);
			}
			i.fa-link{
				color: #fff;
			    font-size: 32px;
			    left: 10px;
			    opacity: 0.15;
			    position: absolute;
			    top: 10px;
			    z-index: 3;
			}
			.post-link-wrap{
				position: relative;
				z-index: 9;
				font-size: 20px;
				.post-link{
					word-wrap: break-word;
					text-decoration: underline;
					@include transition(.3s);
				}
			}
		}
	}
	&.format-quote{
		.post-block-quote-wrap{
			padding: 50px 20px;
			position: relative;
			&:after{
				content: "";
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				z-index: 1;
				background: rgba(1,1,1,.8);
			}
			i.fa-quote-left{
				color: #fff;
			    font-size: 32px;
			    left: 10px;
			    opacity: 0.15;
			    position: absolute;
			    top: 10px;
			    z-index: 3;
			}
			.post-quote-wrap{
				position: relative;
				z-index: 9;
				font-size: 20px;
				.post-quote{
					border-left: medium none;
				    color: #fff;
				    font-family: caption;
				    font-size: 20px;
				    font-style: italic;
				    margin-bottom: 0;
				    padding: 0;
				    text-align: justify;
				}
			}
		}
	}
	&.format-audio{
		.post-block-audio-wrap{
			line-height: 0;
		}
	}
	&.format-video{
		.post-block-video-wrap{
			line-height: 0;
			.post-video-wrap{
				position: relative;
				padding-bottom: 56%;
				overflow: hidden;
				> *{
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
				}
			}
		}
	}
}

/* layout creative default */
%post-list-creative-layout-default{
	.post-inner{
		.post-title-link{
			text-decoration: none;
			.post-title{
				margin: 0;
				font-size: 24px;
				line-height: 28px;
				margin-bottom: 15px;
				color: #333;
				@include transition(.3s);
			}
			&:hover{
				.post-title{
					color: $accent-color;
				}
			}
		}
		.post-featured-image-wrap{
			margin-bottom: 30px;
			position: relative;
			overflow: hidden;
			&:after{
				content: "";
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				background: fade_out(#000, 50%);
				z-index: 2;
				opacity: 0;
				@include transition(.3s);
			}
			.post-featured-image-link{
				display: block;
				text-align: center;
				img{
					max-width: 100%;
					height: auto;
					width: 100%
				}
			}
			.icon-view-detail{
				border: 1px solid;
		    color: #fff;
		    font-size: 16px;
				line-height: 22px;
		    left: 50%;
		    letter-spacing: 2px;
		    padding: 4px 14px;
		    position: absolute;
		    text-transform: uppercase;
		    top: 50%;
		    transform: translate(-50%, -50%);
		    -webkit-transform: translate(-50%, -50%);
		    z-index: 4;
				text-decoration: none;
				@include transition(.4s);

				opacity: 0;
				visibility: hidden;
				span{
					font-size: 18px;
					margin-left: 4px;
				}
				&:hover{
					color: $accent-color;
				}
			}
			.extra-meta-bottom{
				position: absolute;
				bottom: -20px;
				left: 20px;
				width: calc(100% - 40px);
				z-index: 4;
				color: #FFF;
				text-transform: uppercase;
				font-size: 16px;
				letter-spacing: 0px;
				@include transition(.5s);

				opacity: 0;
				visibility: hidden;
				&:after{
					content: "";
					display: block;
					clear: both;
				}
				.post-total-comment,
				.post-total-view{
					display: inline-block;
					vertical-align: top;
				}
				.post-total-comment{
					margin-right: 15px;
				}
			}
			&:hover{

				.icon-view-detail,
				.extra-meta-bottom{
					opacity: 1;
					visibility: visible;
				}
				.extra-meta-bottom{
					bottom: 20px;
				}
			}
		}
		.post-entry-wrap{
			.cat-meta{
				.post-category{
					position: relative;
					display: inline-block;
					a{
						font-size: 16px;
				    letter-spacing: 0px;
						color: #999;
						text-decoration: none;
						@include transition(.3s);
						&:hover{
							color: $accent-color
						}
					}
				}
			}
			.extra-meta{
				border-bottom: 1px solid #ececec;
				margin: 0 0 25px;
				padding: 0 0 12px;
				> div{
					color: #999;
			    display: inline-block;
			    font-size: 16px;
			    line-height: 24px;
			    margin-bottom: 5px;
			    vertical-align: top;
					&:not(:last-child){
						margin-right: 30px;
					}
					i{
						margin-right: 3px;
					}
					a{
						@include transition(.3s);
						text-decoration: none;
						color: #999;
						&:hover{
							color: $accent-color;
						}
					}
				}
			}

			.post-readmore{
				background: $accent-color;
				border-radius: 30px;
		    color: #fff;
		    display: inline-block;
		    font-size: 16px;
				font-weight: bold;
		    letter-spacing: 0px;
		    line-height: 22px;
		    padding: 10px 25px;
		    text-decoration: none;
		    text-transform: uppercase;
				margin-top: 10px;
				@include transition(.3s);
				&:hover{
					background: darken($accent-color, 5%);
				}
			}
		}
	}
	&.format-quote{
		.post-inner{
			.post-header-quote-wrap{
				margin-bottom: 30px;
				position: relative;
				overflow: hidden;
				background: $accent-color;
				&:after{
					content: "\f10e";
			    font-family: FontAwesome;
			    font-style: normal;
			    font-weight: normal;
			    text-decoration: inherit;

					position: absolute;
					right: 2vw;
					top: 2vw;
					z-index: 3;
					color: #FFF;
					font-size: 14px;
				}
				.post-quote-image-background{
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					z-index: 1;
					&:after{
						content: "";
						position: absolute;
						left: 0;
						top: 0;
						width: 100%;
						height: 100%;
						background: fade_out(#000, 50%);
						z-index: 2;
						@include transition(.3s);
					}
				}
				.post-quote-wrap{
					position: relative;
					z-index: 4;
					display: block;
					width: 100%;
					padding: 90px 30px 30px;
					z-index: 4;
					color: #fff;
					opacity: .4;
					@include transition(.5s);
					.post-quote{
						padding: 0;
						border: none;
						font-size: 23px;
						line-height: 37px;
						font-family: caption;
						font-style: italic;
						margin-bottom: 20px;
						padding-bottom: 20px;
						position: relative;
						&:after{
							content: "";
							position: absolute;
							width: 20%;
							height: 1px;
							background: #FFF;
							bottom: 0;
							left: 0;
						}
					}
					.post-cite-wrap{
						font-size: 22px;
					}
				}
				&:hover{
					.post-quote-image-background{
						&:after{
							background: fade_out(#000, 40%);
						}
					}
					.post-quote-wrap{
						opacity: .8;
					}
				}
			}
		}
	}
	&.format-video{
		.post-inner{
			.post-header-video-wrap{
				margin-bottom: 30px;
				position: relative;
				overflow: hidden;
				background: $accent-color;
				padding-bottom: 55vh;
				&:after{
					content: "\f03d";
			    font-family: FontAwesome;
			    font-style: normal;
			    font-weight: normal;
			    text-decoration: inherit;

					position: absolute;
					right: 2vw;
					top: 2vw;
					z-index: 5;
					color: #FFF;
					font-size: 14px;
				}
				&:before{
					content: "";
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					opacity: 0;
					background: fade_out(#000, 50%);
					z-index: 4;
					@include transition(.3s);
				}
				.post-video-image-background{
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					z-index: 1;
				}
				.post-video-wrap{
					&.video-type-embed{
						iframe{
							position: absolute;
							left: 50%;
							top: 50%;
							transform: translate(-50%, -50%);
							-webkit-transform: translate(-50%, -50%);
							width: 250%;
							height: 250%;
							z-index: 2;
						}
					}
				}

				.icon-view-detail{
					border: 1px solid;
			    color: #fff;
			    font-size: 12px;
					line-height: 22px;
			    left: 50%;
			    letter-spacing: 2px;
			    padding: 4px 14px;
			    position: absolute;
			    text-transform: uppercase;
			    top: 50%;
			    transform: translate(-50%, -50%);
			    -webkit-transform: translate(-50%, -50%);
			    z-index: 4;
					text-decoration: none;
					@include transition(.4s);

					opacity: 0;
					visibility: hidden;
					span{
						font-size: 18px;
						margin-left: 4px;
					}
					&:hover{
						color: $accent-color;
					}
				}
				.extra-meta-bottom{
					position: absolute;
					bottom: -20px;
					left: 20px;
					width: calc(100% - 40px);
					z-index: 4;
					color: #FFF;
					text-transform: uppercase;
					font-size: 11px;
					letter-spacing: 1px;
					@include transition(.5s);

					opacity: 0;
					visibility: hidden;
					&:after{
						content: "";
						display: block;
						clear: both;
					}
					.post-total-comment,
					.post-total-view{
						display: inline-block;
						vertical-align: top;
					}
					.post-total-comment{
						margin-right: 15px;
					}
				}
				&:hover{
					&:before{
						opacity: 1;
					}
					.icon-view-detail,
					.extra-meta-bottom{
						opacity: 1;
						visibility: visible;
					}
					.extra-meta-bottom{
						bottom: 20px;
					}
				}
			}
		}
	}
	&.format-audio{
		.post-inner{
			.post-header-audio-wrap{
				margin-bottom: 30px;
				position: relative;
				overflow: hidden;
			}
		}
	}
	&.format-link{
		.post-inner{
			.post-header-link-wrap{
				margin-bottom: 30px;
				position: relative;
				overflow: hidden;
				background: $accent-color;
				&:after{
					content: "\f0c1";
			    font-family: FontAwesome;
			    font-style: normal;
			    font-weight: normal;
			    text-decoration: inherit;

					position: absolute;
					right: 2vw;
					top: 2vw;
					z-index: 3;
					color: #FFF;
					font-size: 14px;
				}
				.post-link-image-background{
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					z-index: 2;
					&:after{
						content: "";
						position: absolute;
						left: 0;
						top: 0;
						width: 100%;
						height: 100%;
						background: fade_out(#000, 50%);
						z-index: 2;
						@include transition(.3s);
					}
				}
				.post-link-wrap{
					display: block;
					padding: 80px 30px 30px;
					position: relative;
					z-index: 4;
					a{
						color: #FFF;
						font-family: caption;
						font-size: 22px;
						font-style: italic;

						display: block;
						word-wrap: break-word;         /* All browsers since IE 5.5+ */
				    overflow-wrap: break-word;     /* Renamed property in CSS3 draft spec */
				    width: 100%;
					}
				}
			}
		}
	}
	&.format-gallery{
		.post-inner{
			.post-header-gallery-wrap{
				margin-bottom: 30px;
				position: relative;
				overflow: hidden;
				.masonry-hybrid-wrap{
					.grid-item_{
						.grid-item-inner_{
							position: relative;
							width: 100%;
							height: 100%;
							.icon-zoom{
								position: absolute;
								left: 0;
								top: 0;
								width: 100%;
								height: 100%;
							}
						}
					}
				}
			}
		}
	}
}

%post-list-creative-layout-background{
	.post-inner{
		.post-item-container-wrap{
			position: relative;
			background: $accent-color;
			padding: 16vh 0;
			overflow: hidden;
			.post-quote-image-background{
				position: absolute;
				left: -20%;
				top: -20%;
				width: 140%;
				height: 140%;
				z-index: 1;
				&:after{
					content: "";
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					z-index: 2;
					background: fade_out(#000, 50%);
				}
			}
			.post-layout-creative-video-wrap{
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				z-index: 1;
				.post-video-wrap{
					&.video-type-embed{
						iframe{
							position: absolute;
							left: 50%;
							top: 50%;
							transform: translate(-50%, -50%);
							-webkit-transform: translate(-50%, -50%);
							width: 380%;
							height: 250%;
							z-index: 2;
						}
					}
				}
			}
			.post-entry-wrap{
				position: relative;
				z-index: 3;
				padding: 30px;
				text-align: center;
				.cat-meta{
					display: block;
					.post-category{
						display: inline-block;
						padding-left: 30px;
						margin-bottom: 20px;
						position: relative;
						color: #fff;
						&:after{
							content: "";
							position: absolute;
							left: 0;
							bottom: 0;
							width: 1px;
							height: 100%;
							background: $accent-color;
						}
						a{
							color: #fff;
							font-size: 12px;
					    letter-spacing: 1px;
					    text-transform: uppercase;
							text-decoration: none;
							@include transition(.3s);
							&:hover{
								color: $accent-color
							}
						}
					}
				}
				.post-title-link{
					text-decoration: none;
					display: block;
					margin: 20px 0;
					.post-title{
						margin: 0;
						font-size: 32px;
    				line-height: 42px;
						margin: 20px 0;
						color: #fff;
						display: inline;
						background: fade_out(#000, 50%);
						@include transition(.3s);
					}
					&:hover{
						.post-title{
							color: $accent-color;
						}
					}
				}
				.post-readmore{
					// background: $accent-color;
					border: solid 1px;
					border-radius: 1px;
			    color: #fff;
			    display: inline-block;
			    font-size: 12px;
			    letter-spacing: 1px;
			    line-height: 22px;
			    padding: 6px 16px;
			    text-decoration: none;
			    text-transform: uppercase;
					margin-top: 10px;
					@include transition(.3s);
					&:after{
						content: "";
				    display: inline-block;
				    font-family: "Ionicons";
				    font-style: normal;
				    font-variant: normal;
				    font-weight: normal;
				    line-height: 1;
				    text-rendering: auto;
				    text-transform: none;
						margin-left: 8px;
					}
					&:hover{
						color: darken($accent-color, 5%);
					}

				}
			}
			.extra-meta-bottom{
				position: absolute;
				bottom: -15px;
				left: 30px;
				width: calc(100% - 60px);
				z-index: 4;
				color: #fff;
				text-align: center;
				padding-top: 15px;
				border-top: 1px solid fade_out(#fff, 80%);
				visibility: hidden;
				opacity: 0;
				@include transition(.5s);
				> div{
					display: inline-block;
					vertical-align: top;
					text-transform: uppercase;
					font-size: 10px;
					line-height: 22px;
					margin-bottom: 5px;
					&:not(:last-child){
						margin-right: 8px;
					}
				}
			}
			&:hover{
				.extra-meta-bottom{
					visibility: visible;
					opacity: 1;
					bottom: 10px;
				}
			}
		}
	}
	&.format-video{
		.post-inner{
			.post-item-container-wrap{
				&:after{
					content: "";
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					z-index: 2;
					background: fade_out(#000, 50%);
					opacity: 0;
					@include transition(.5s);
				}
				&:hover{
					&:after{
						opacity: 1;
					}
				}
			}
		}
	}
}

%search-post-layout-default{
	&:not(:last-child){
		margin-bottom: 30px;
		padding-bottom: 30px;
		border-bottom: 1px solid #e9e9e9;
	}
	.post-inner{
		.post-type{
			background: $accent-color;
			border-radius: 20px;
	    color: #fff;
	    display: inline-block;
	    font-size: 11px;
	    letter-spacing: 1px;
	    line-height: normal;
	    padding: 4px 10px;
	    text-transform: uppercase;
		}
		.title-link{
			text-decoration: none;
			.title{
				font-size: 18px;
				line-height: 26px;
				@include transition(.3s);
			}
			&:hover{
				.title{
					color: $accent-color
				}
			}
		}
		.extra-meta{
			> div{
				color: #999;
				display: inline-block;
				font-size: 13px;
				line-height: 24px;
				margin-bottom: 5px;
				text-transform: uppercase;
				vertical-align: top;
				&:not(:last-child){
					margin-right: 12px;
				}
				i{
					margin-right: 4px;
				}
				a{
					@include transition(.3s);
					text-decoration: none;
				}
			}
		}
	}
}
