/* WP Widgets Layout */
/* -------------------------------------------------- */

.widget {
  font-size: $fw-widget-font-size;
  line-height: $fw-widget-line-height;
  img {
    max-width: 100%;
    height: auto;
  }
  select{
    max-width: 300px;
    option{
      max-width: 300px;
      overflow: hidden;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
  a{
    text-decoration: none;
    @include transition(.3s);
  }
  p a{
    font-family: $fw-widget-inner-title-font-family;
    font-size: $fw-widget-inner-title-font-size;
    font-weight: $fw-widget-inner-title-font-weight;
    font-style: $fw-widget-inner-title-font-style;
    line-height: $fw-widget-inner-title-line-height;
    letter-spacing: $fw-widget-inner-title-letter-spacing;
    color: $fw-widget-inner-title-color;

    &:hover{
      color: $fw-widget-inner-title-hover-color;
    }
  }
  &:last-child{
   margin-bottom: 0;
  }
  .widget-title {
    // margin: 0 0 ceil($fw-widget-margin-bot*0.30) 0;
    // font-family: $subtitles-family;
    // font-weight: 300;
    // font-style: $subtitles-style;
    // // font-size: $fw-widget-title-font-size;
    // font-size: 130%;
    // line-height: $fw-widget-title-line-height;
    // position: relative;
    // color: $fw-widget-title-color;
    // letter-spacing: -1px;

    /**/
    font-family: $font-family-base;
    font-weight: 300;
    position: relative;
    color: $fw-widget-title-color;
    font-size: 23px;
    font-weight: 300;
    letter-spacing: -1px;
    line-height: 28px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    margin-top: 0;

    /**/

    span {
      display: inline-block;
      &::first-letter {
        // background: $accent-color;
        // color: #FFF;
      }
    }
  }
  // Date for all widget
  .post-date,
  .facebook-post-date,
  .rss-date,
  .tweet-date,
  &.widget_display_replies li div:last-child,
  &.widget_display_topics li div:last-child {
    display: block;
    line-height: 1em;
    font-size: .9em;
    font-weight: normal;
    // color: $fw-widget-inner-title-hover-color;
    margin-bottom: 10px;
  }
  ul {
    list-style: none;
    // overflow: hidden;
    padding-left: 0;
    margin: 0;
  }
  div[class*='fw-btn-'] a{
    text-align: left;

    span{
      &:before {
        font-family: 'FontAwesome';
        font-style: normal;
        margin-right: 6px;
      }
    }
  }
}
.fw-side-boxed .widget .widget-title span {
  background-color: $container-bg;
}
.fw-sidebar .widget:first-child,
.fw-footer .fw-col-md-3 .widget:first-child,
.fw-footer .fw-col-md-4 .widget:first-child {
  margin-top: 0;
}
@media (max-width: 991px) {
  .footer-sidebar-item .widget{
    margin-bottom: 20px;
  }
}
.bt-sidebar{
  .bt-col-inner{
    padding: 30px;
    // border: 2px solid #f7f7f7 !important;
    background: #f6f6f6;
    border-radius: 5px;
  }
  @media (max-width: 991px) {
    .widget{
      margin-bottom: 20px;
    }
  }
  .widget{
    margin-bottom: $fw-widget-space-each-item;
    // padding-bottom: $fw-widget-space-each-item;
    padding: 0;
    // border: 2px solid #f7f7f7 !important;
    // background: #FFF;
    border-radius: 1px;

    .widget-title{
      margin-top: 0;
      margin-bottom: 20px;
      position: relative;
      // border-bottom: 1px solid #e9e9e9;
      // &:after{
      //   content: "";
      //   position: absolute;
      //   width: 20%;
      //   height: 2px;
      //   left: 5%;
      //   bottom: 0;
      //   background: #e9e9e9;
      //   border-radius: 10px;
      // }
      // &:before{
      //   content: "";
      //   position: absolute;
      //   width: 4%;
      //   height: 2px;
      //   left: 0;
      //   bottom: 0;
      //   background: $accent-color;
      //   border-radius: 10px;
      // }
      span{
        font-size: 24px;
        font-weight: bold;
        letter-spacing: 0;
        border-left: $accent-color solid 3px;
        padding-left: 10px;
        line-height: 23px;
        .widget-subtitle{
          font-size: 16px;
          color: $accent-color;
          letter-spacing: 0;
          font-weight: 500;
          line-height: 16px;
          margin-top: 5px;
        }
      }
    }
  }
  .widget:not(:last-child){
    border-bottom: solid 3px fade_out(#000, 97%);
    padding-bottom: 40px;
  }
  .widget:last-child{
    margin-bottom: 20px;
  }
}

.bt-footer-widgets{
  .widget{
    &.widget_meta,
    &.widget_nav_menu{
      ul{
        li{
          > a{
            display:  block;
            // margin-left: 20px;
            display: block;
            padding: 8px 0 8px 25px;
            position: relative;
            letter-spacing: -.7px;
            &:before{
              content: "";
              width: 10px;
              height: 4px;
              border-radius: 20px;
              background: $accent-color;
              display: block;
              position: absolute;
              left: 0;
              top: calc(50% - 2px);
            }
          }
          &:hover{
            > a{
              &:before{

              }
            }
          }
        }
      }
    }
  }
}

/* General Widget Responsive */

/* Screen 768px */
@media(max-width:991px){
  .widget{
    margin-bottom: ceil($fw-space-between-elements-md*0.7);

    .widget-title{
      margin-bottom: ceil($fw-space-between-elements-sm*0.55);
    }
  }
}
//=> widget facebook
@import "widget-facebook";

//=> widget twitter feed
@import "widget-twitter-feed";

//=> widget instagram, flickr
@import "widget-flickr-instagram";

//=> widget Post list
@import "widget-posts-list";

//=> widget Post list
@import "widget-products";

//=> widget Search
@import "widget-search";

//=> widget Recent Entries
@import "widget-recent-entries";

//=> widget Categories
@import "widget-categories";

//=> widget Calendar
@import "widget-calendar";

//=> widget Tagcloud
@import "widget-tagcloud";

//=> widget Rss
@import "widget-rss";

//=> widget Text
@import "widget-text";

//=> widget Login
@import "widget-login";

//=> widget-yith-compare
@import "widget-yith-compare";

//=> widget-wpurp-recipe
@import "widget-wpurp-recipe";

//=> widget-newsletterwidget
@import "widget-newsletterwidget";
