#bt-woo-container{}
#bt-woo-content{
  .woocommerce-result-count{
    padding: 10px 0;
    color: #888;
    font-family: caption;
    font-style: italic;
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 5px;
  }
  form.woocommerce-ordering{
    margin: 0px 0 30px 0;
    overflow: hidden;
    background: #F8F7F7;
    position: relative;
    border-radius: 3px;
    padding: 0 5px;
    &:after{
      content: "";
      position: absolute;
      z-index: 1;
      width: 5px;
      height: 5px;
      border: solid #333;
      border-width: 1px 1px 0 0;
      right: 15px;
      top: 50%;
      transform: translateY(-50%) rotate(135deg);
      -webkit-transform: translateY(-50%) rotate(135deg);
    }
    .orderby{
      position: relative;
      z-index: 3;
      background: transparent;
      padding: 10px;
      width: calc(100% + 20px);
      max-width: none;
      // border-width: 0 0 1px 0;
      border: none;
      outline: none;
      color: #888;
      font-family: $fw-h6-font-family;
      font-style: italic;
      box-shadow: none !important;
      outline: none !important;
    }
  }
  @media (max-width: 600px) {
    .woocommerce-result-count,
    form.woocommerce-ordering{
      float: none;

    }
    form.woocommerce-ordering{
      max-width: 300px;
    }
  }
}

%product-list-layout-default{
  .product-item{
    // .product{
      margin-left: -1px;
      margin-bottom: 40px;
      position: relative;
      text-align: center;
      a{
        text-decoration: none;
        @include transition(.3s);
        &:hover{
          text-decoration: none;
        }
      }
      .woocommerce-LoopProduct-link{
        display: inline-block;
        position: relative;
        width: 100%;
      }
      .woocommerce-taxonomy-loop{
        color: #999;
        padding-top: 10px;
        margin-top: 10px;
        position: relative;
        &:after{
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          z-index: 1;
          width: 100%;
          height: 1px;
          background: #f9f9f9;
        }
        &:before{
          content: "";
          position: absolute;
          z-index: 2;
          width: 40%;
          height: 1px;
          background: $accent-color;
          left: 30%;
          top: 0;
        }
        a {
          font-size: 16px;
          color: #999;
          &:hover{
            color: $accent-color;
          }
        }
      }
      .woocommerce-imagewrapper{
        position: relative;
        a.woocommerce-product-link{
          display: block;
          &:after{
            @include transition(.4s);
            content: "";
            position: absolute;
            visibility: hidden;
            opacity: 0;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: fade_out($accent-color, 90%);
            z-index: 1;
          }
        }
        .woocommerce_after_thumbnail_loop{
          @include transition(.4s);
          visibility: hidden;
          opacity: 0;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          -webkit-transform: translate(-50%, -50%);
          z-index: 3;
          .button{
            &.compare{
              display: inline-block !important;
            }
            display: block;
            max-width: 130px;
            min-width: 130px;
            text-align: center;
            margin: 0 0 5px 0;
            &:last-child{
              margin: 0;
            }
          }
          a.added_to_cart{
            display: none;
          }
          a.yith-wcqv-button{
            .blockOverlay{
              background: none !important;
            }
          }
        }
      }
      &:hover{
        .woocommerce-imagewrapper{
          a.woocommerce-product-link:after{
            visibility: visible;
            opacity: 1;
          }
          .woocommerce_after_thumbnail_loop{
            visibility: visible;;
            opacity: 1;
          }
        }
      }
      @media (max-width: 980px) {
        &.product-item{
          cursor: pointer;
        }
      }
      .onsale{
        background: $accent-color;
        border-radius: 1px;
        color: #fff;
        font-size: 16px;
        left: 0;
        padding: 0 10px;
        position: absolute;
        top: 0;
        z-index: 3;
      }
      .wp-post-image{
        @include transition(.3s);
        border: solid 1px fade_out($accent-color, 80%);
        border-radius: 1px;
        width: 100%;
      }
      .woocommerce-loop-product__title{
        font-size: 16px;
        letter-spacing: 0;
        line-height: 26px;
        margin: 20px 0 0;
        color: #222;
      }
      .star-rating{
        float: none;
        width: 64px;
        // margin: 7px 0;
        margin: 5px auto;
        &:before,
        span:before{
          font-size: 11px;
          color: $accent-color;
        }
      }
      .price{
        font-size: 16px;
        color: #999;
        display: block;
        // font-family: caption;
        // font-style: italic;
        .amount{
          color: $accent-color;
          font-size: 16px;
          // font-weight: bold;
        }
        del{
          margin-right: 5px;
          opacity: .6;
        }
        ins{
          text-decoration: none;
          font-weight: normal;
        }
      }

      a.button,
      a.added_to_cart{
        background: fade_out($fw-btn-color, 5%);
        font-family: $fw-buttons-font-family;
        font-weight: $fw-buttons-font-weight;
        font-size: $fw-buttons-font-size;
        line-height: $fw-buttons-line-height;
        color: $fw-buttons-color;
        letter-spacing: $fw-buttons-letter-spacing;
        font-style: $fw-buttons-font-style;
        display: inline-block;
        padding: 9px 15px;
        border-radius: 3px;
        margin-bottom: 4px;
        @include transition(.3s);
        &:hover{
          background: $fw-btn-hover-color;
          color: $fw-buttons-hover-color;
          text-decoration: none;
        }
      }
      .compare{
        margin-top: 10px;
        display: none !important;
      }
      .add_to_cart_button{
        &.loading{
          padding-right: 32px;
          &::after{
            top: calc(50% - 14px);
          }
        }
        &.added{
          display: none;
          &:after{
            margin-left: 12px;
          }
        }
      }
      > div{
        &:hover{
          .woocommerce-LoopProduct-link{
            .wp-post-image{
              border: solid 1px fade_out($accent-color, 10%);
              // box-shadow: 0 0 16px -9px rgba(1,1,1,.3);
            }
          }
        }
      }
    // }
  }
}
.woocommerce{
  .products{
    @extend %product-list-layout-default;
  }
}

%mini-cart-style-default{
  width: 310px;
  padding: 20px;
  .cart_list{
    padding: 0;
    max-height: 290px;
    overflow: auto;
    &.product_list_widget{
      .empty{
        list-style: none;
      }
      .mini_cart_item{
        list-style: none;
        display: block;
        &:after{
          content: "";
          display: block;
          clear: both;
        }
        &:not(:last-child){
          margin-bottom: 12px;
          padding-bottom: 12px;
          border-bottom: 1px solid #F8F7F7;
        }
        a{
          color: #333 !important;
          line-height: 28px !important;
          &.remove{
            display: none !important;
          }
          img{
            float: left;
            width: 60px;
            height: auto;
            margin-right: 10px;
          }
          &:hover{
            color: $accent-color !important;
          }
        }
        span.quantity{
          font-size: 16px;
          color: #888;
        }
      }
    }
  }
  .total{
    margin-top: 20px;
    padding-top: 20px;
    // border-top: solid 0.5px #d7d7d7;
    .woocommerce-Price-amount{
      float: right;
    }
  }
  .buttons{
    margin-top: 20px;
    margin-bottom: 0;
    display: table;
    width: 100%;
    border-radius: 1px;
    overflow: hidden;
    border: solid 1px darken($accent-color, 3%);
    .button{
      display: table-cell !important;
      width: 50%;
      text-align: center;
      padding: 5px 10px;
      @include transition(.3s);
      position: relative;
      border-radius: 0;
      line-height: 32px !important;
      &:after{
        content: "\f105";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;

        position: absolute;
        right: 5px;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        color: #FFF;
        visibility: hidden;
        opacity: 0;
        @include transition(.3s);
      }
      &.wc-forward{
        background: $accent-color;
        color: #FFF !important;
      }
      &.checkout{
        background: darken($accent-color, 3%);
      }
      &:hover{
        &:after{
          right: 16px;
          visibility: visible;;
          opacity: 1;
        }
      }
    }
  }
}

%mini-cart-style-2{
  .product_list_widget{
    .empty{
      padding: 0;
    }
    .mini_cart_item{
      margin-bottom: 20px;
      position: relative;
      a{
        font-weight: normal;
        .wp-post-image{
          float: left;
          margin: 0 20px 0 0;
          width: 60px;
        }
        &.remove{
          position: absolute;
          left: 0;
          top: 16px;
          z-index: 3;
        }
      }
    }
  }
  p.total{
    padding: 10px 0;
    border-top: 1px solid #ebe9eb;
    .amount{
      margin-left: 10px;
      font-size: 18px;
    }
  }
  p.buttons{
    .button{
      padding: 10px 24px;
      background: #8c8c8c;
      color: #FFF;
      font-weight: normal;
      font-size: 16px;
      text-transform: uppercase;
      @include transition(.3s);
      &:hover{
        background: darken(#8c8c8c, 8%);
      }
      &:first-child{
        background: $accent-color;
        margin-right: 6px;
        &:hover{
          background: darken($accent-color, 5%);
        }
      }
    }
  }
}

/* minicart style */
.bearsthemes_minicart_products_container_elem{
  .widget_shopping_cart_content{
    @extend %mini-cart-style-default;
  }
}

.widget.woocommerce.widget_shopping_cart{
  .widget_shopping_cart_content{
    @extend %mini-cart-style-2;
  }
}

/* widget woocommerce */
.widget{
  &.woocommerce{
    &.widget_price_filter{
      .ui-slider .ui-slider-range{
        background: $accent-color;
      }
      .ui-slider-handle{
        background: #FFF;
        border: solid 2px $accent-color;
        margin-top: 1px;
      }
      .price_slider_amount{
        .button{
          padding: 10px 24px;
          background: #8c8c8c;
          color: #FFF;
          font-weight: normal;
          font-size: 16px;
          text-transform: uppercase;
          @include transition(.3s);
          &:hover{
            background: darken(#8c8c8c, 8%);
          }
        }
      }
      .ui-widget-content{
        background: #e9e9e9;
      }
    }
    &.widget_product_categories{
      .product-categories{
        .cat-item{
          > *{
            display: table-cell;
          }
          a{
            font-weight: normal;
            text-decoration: none;
            @include transition(.3s);
          }
          .count{
            font-size: 16px;
            font-style: normal;
            padding-left: 5px;
          }
        }
      }
    }
    &.widget_product_search{
      form.woocommerce-product-search{
        .screen-reader-text{
          display: none;
        }
        input.search-field,
        input[type="submit"]{
          display: inline-block;
          vertical-align: middle;
        }
        input.search-field{
          padding: 5px 11px;
          border-radius: 3px;
        }
        input[type="submit"]{
          border: none;
          background: $accent-color;
          color: #FFF;
          font-weight: normal;
          font-size: 16px;
          text-transform: uppercase;
          @include transition(.3s);
          border-radius: 3px;
          padding: 11px 12px !important;
          margin-left: 1px;
          &:hover{
            background: darken($accent-color, 5%);
          }
        }
      }
    }
    &.widget_recent_reviews{
      .product_list_widget{
        li{
          .star-rating{
            width: 64px;
            margin: 7px 0;
            float: left;
            &:before,
            span:before{
              font-size: 11px;
              color: $accent-color;
            }
          }
          .reviewer{
            color: #555;
            font-family: caption;
            font-style: italic;
            padding-left: 20px;
          }
        }
      }
    }
    //
    .product_list_widget{
      > li{
        &:not(:last-child){
          margin-bottom: 10px;
        }
        a{
          font-weight: normal;
          img{
            float: left;
            width: 60px;
            margin: 0 20px 0 0;
          }
        }
      }
    }
  }
}

.woocommerce img,
.woocommerce-page img{
  max-width: none;
}

.woocommerce-product-subcategories-wrap{
  position: relative;
  &:after{
    content: "";
    display: block;
    clear: both;
  }
  .product-category{
    a{
      img{
        border-radius: 1px;
      }
      h3{
        @include transition(.3s);
        .count{
          background: fade_out($accent-color,70%);
          border-radius: 3px;
        }
      }
      &:hover{
        h3{
          color: $accent-color;
        }
      }
    }
  }
}

@import "cart";
@import "checkout";
@import "single-product";
@import "my-account";
@import "yith";
